@import './modern-normolize';
@import './global-reset';

body {
  padding: 10px;
  padding-top: 100px;
  background-color: rgba(56, 89, 95, 0.363);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
img {
  height: inherit;
}
.photo-container {
  width: 25%;
  height: 250px;
  margin-bottom: 2%;

  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  cursor: zoom-in;
  @media screen and(max-width:1600px) {
    width: 30%;
  }
  @media screen and(max-width:900px) {
    width: 50%;
  }
  @media screen and(max-width:900px) {
    width: 320px;
  }

  background-image: url(../ZKZg.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.photo-card {
  position: relative;
  width: 98%;
  height: 100%;
}

.stats {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(255, 250, 250, 0.822), rgba(14, 185, 176, 0.151));
}

.stats-item {
  padding: 3px;
  color: rgba(1, 47, 58, 0.726);
  cursor: pointer;
}

.stats-item:hover {
  color: rgba(0, 253, 253, 0.473);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button_upper {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 70px;
  height: 70px;
  z-index: 2;
  border-radius: 50%;
  border: hidden;
  border: 4px solid white;
  background: linear-gradient(rgba(255, 250, 250, 0.822), rgba(14, 185, 176, 0.541));
  color: rgb(65, 64, 63);
}

.button_moreload {
  position: fixed;
  left: 2%;
  bottom: 2%;
  width: 70px;
  height: 70px;
  z-index: 2;
  border-radius: 50%;
  border: hidden;
  border: 4px solid white;
  background: linear-gradient(rgba(255, 250, 250, 0.822), rgba(14, 185, 176, 0.541));
  color: rgb(65, 64, 63);
}

.button_upper:hover,
.button_moreload:hover {
  background-color: rgba(112, 128, 144, 0.637);
  color: black;
}

.search-form {
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: linear-gradient(rgba(255, 250, 250, 0.822), rgba(14, 185, 176, 0.541));
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;

  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover {
  width: 250px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

form:hover .fa {
  background: rgba(112, 128, 144);
  color: black;
}

$colors: #360745, #d61c59, #e7d84b, #efeac5, #1b8798;

.text--line {
  font-size: 2em;
  font: 8em/1 Arial;
}

$max: 5;
$stroke-step: 10%;
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 5px;

  animation: stroke-offset 9s infinite linear;

  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);

    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
    }
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: $stroke-step * $max;
    stroke-dasharray: 0 $stroke-step * $max * 2.5;
  }
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(lightgray, transparent);

  animation: rotating 1s linear infinite;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background-color: rgba(56, 89, 95, 0.363);
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
